$background-color1: #0f171e;
$header-footer-color: rgba(27, 37, 48, 0.85);
$header-menu-color: #1b2530;
$header-footer-color0: #1b2530;
$header-footer-color1: #1a232e;
$color-text-white: #ffffff;
$color-text-gray: #949494;
$color-text-footer-link: #0f79af;
$color-text-black: #000000;
$color-text-menu: #f2f4f6e6;
$color-butto-azul: #1399de;
